# ML Problem: Will a person suffer from human trafficking?

## Libraries & Data Loading

In [6]:
import pandas as pd
import numpy as np

In [4]:
# data loading
df = pd.read_csv('human_trafficking.csv')
df.head()

/var/folders/zk/vd14bsbx2679v9y9w2drl53c0000gn/T/ipykernel_1996/3103596529.py:2: DtypeWarning: Columns (54) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('human_trafficking.csv')

,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,meansOfControlDebtBondage,meansOfControlTakesEarnings,...,typeOfSexPrivateSexualServices,typeOfSexConcatenated,isAbduction,RecruiterRelationship,CountryOfExploitation,recruiterRelationIntimatePartner,recruiterRelationFriend,recruiterRelationFamily,recruiterRelationOther,recruiterRelationUnknown
0,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
1,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
2,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
3,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1
4,2002,Case Management,Female,18--20,Adult,-99,-99,CO,-99,-99,...,-99,-99,-99,-99,-99,0,0,0,0,1

In [ ]:
# -99 are considered mising values (NaN), so we convert them for easier handling
df.replace('-99', np.nan, inplace=True)
df.replace(-99, np.nan, inplace=True)

## EDA

In [12]:
df.shape

(48801, 63)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48801 entries, 0 to 48800
Data columns (total 63 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   yearOfRegistration                      48801 non-null  int64
 1   Datasource                              48801 non-null  object
 2   gender                                  48801 non-null  object
 3   ageBroad                                36439 non-null  object
 4   majorityStatus                          36439 non-null  object
 5   majorityStatusAtExploit                 9290 non-null   object
 6   majorityEntry                           6491 non-null   object
 7   citizenship                             48523 non-null  object
 8   meansOfControlDebtBondage               2496 non-null   float64
 9   meansOfControlTakesEarnings             3997 non-null   float64
 10  meansOfControlRestrictsFinancialAccess  253 non-null    float64
 11  meansOfControlThreats                   5164 non-null   float64
 12  meansOfControlPsychologicalAbuse        6056 non-null   float64
 13  meansOfControlPhysicalAbuse             4849 non-null   float64
 14  meansOfControlSexualAbuse               2821 non-null   float64
 15  meansOfControlFalsePromises             3840 non-null   float64
 16  meansOfControlPsychoactiveSubstances    3509 non-null   float64
 17  meansOfControlRestrictsMovement         5620 non-null   float64
 18  meansOfControlRestrictsMedicalCare      2499 non-null   float64
 19  meansOfControlExcessiveWorkingHours     3317 non-null   float64
 20  meansOfControlUsesChildren              151 non-null    float64
 21  meansOfControlThreatOfLawEnforcement    2008 non-null   float64
 22  meansOfControlWithholdsNecessities      2584 non-null   float64
 23  meansOfControlWithholdsDocuments        3274 non-null   float64
 24  meansOfControlOther                     3100 non-null   float64
 25  meansOfControlNotSpecified              36857 non-null  float64
 26  meansOfControlConcatenated              16520 non-null  object
 27  isForcedLabour                          26102 non-null  float64
 28  isSexualExploit                         23861 non-null  float64
 29  isOtherExploit                          30938 non-null  float64
 30  isSexAndLabour                          23456 non-null  float64
 31  isForcedMarriage                        11026 non-null  float64
 32  isForcedMilitary                        11450 non-null  float64
 33  isOrganRemoval                          11450 non-null  float64
 34  isSlaveryAndPractices                   1588 non-null   float64
 35  typeOfExploitConcatenated               32627 non-null  object
 36  typeOfLabourAgriculture                 20472 non-null  float64
 37  typeOfLabourAquafarming                 20433 non-null  float64
 38  typeOfLabourBegging                     20420 non-null  float64
 39  typeOfLabourConstruction                20800 non-null  float64
 40  typeOfLabourDomesticWork                22551 non-null  float64
 41  typeOfLabourHospitality                 21681 non-null  float64
 42  typeOfLabourIllicitActivities           20342 non-null  float64
 43  typeOfLabourManufacturing               20545 non-null  float64
 44  typeOfLabourMiningOrDrilling            20420 non-null  float64
 45  typeOfLabourPeddling                    20342 non-null  float64
 46  typeOfLabourTransportation              20420 non-null  float64
 47  typeOfLabourOther                       21684 non-null  float64
 48  typeOfLabourNotSpecified                21622 non-null  float64
 49  typeOfLabourConcatenated                6249 non-null   object
 50  typeOfSexProstitution                   18458 non-null  float64
 51  typeOfSexPornography                    6444 non-null   float64
 52  typeOfSexRemoteInteractiveServices      6444 non-null   float64
 53  typeOfSexPrivateSexualServices          5215 non-null   float64
 54  typeOfSexConcatenated                   4589 non-null   object
 55  isAbduction                             16371 non-null  float64
 56  RecruiterRelationship                   18120 non-null  object
 57  CountryOfExploitation                   38626 non-null  object
 58  recruiterRelationIntimatePartner        39994 non-null  float64
 59  recruiterRelationFriend                 39994 non-null  float64
 60  recruiterRelationFamily                 39994 non-null  float64
 61  recruiterRelationOther                  39994 non-null  float64
 62  recruiterRelationUnknown                48724 non-null  float64
dtypes: float64(49), int64(1), object(13)
memory usage: 23.5+ MB

In [ ]:
df.isnull().sum()

yearOfRegistration                      0
Datasource                              0
gender                                  0
ageBroad                            12362
majorityStatus                      12362
                                    ...
recruiterRelationIntimatePartner     8807
recruiterRelationFriend              8807
recruiterRelationFamily              8807
recruiterRelationOther               8807
recruiterRelationUnknown               77
Length: 63, dtype: int64